nav ul a,
nav .brand-logo {
  color: ghostwhite;
}

.sect1{
  position: relative;
  min-height: 300px;

}

.form-container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: white;
  padding: 15px 2%;
  width: 100%;
  max-width: 400px;

}

.custom-title{
  position: relative;
}

.custom-title h2{
  font-size: 26px;
  color: #3e2622;
  background: white;
  padding-right: 10px;
  display: inline-block;
  z-index: 2;
  position: relative;
}

.custom-title > div{
  width: 100%;
  position: absolute;
  height: 3px;
  top: 52px;
  z-index: 1;
  background: #3e2622;
  left: 0;

}


@media (max-width: 600px)
{
  nav .brand-logo{
    font-size: 1.1rem;
  }
 
  
}